<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377372349980-ss0vra69k8q3vojbuijf56s6qfl8p8a8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377372349980-ss0vra69k8q3vojbuijf56s6qfl8p8a8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>377372349980-3ofgsqg1lc0fpui45hlevuts0sc5dedj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCHDEDZ0-iIR1H75LsFDXGfX9g10T8-FK8</string>
	<key>GCM_SENDER_ID</key>
	<string>377372349980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.haady.learn</string>
	<key>PROJECT_ID</key>
	<string>haad-learn</string>
	<key>STORAGE_BUCKET</key>
	<string>haad-learn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377372349980:ios:142ec7375b69ff8a08f1d9</string>
</dict>
</plist>